<template>
  <div class="container mt-3">
   <b-card
    no-body
    style="max-width: 80rem;"
  >
    <template v-slot:header>
      <h4 class="mb-0">Sistema de servicios de facturacion y gestion de inventario</h4>
    </template>

    <b-card-body>
      <b-card-title>Conoce nuestro sistema</b-card-title>
      <b-card-sub-title class="mb-2">¿Que puedes hacer ?</b-card-sub-title>
    </b-card-body>

    <b-list-group flush>
      <b-list-group-item>Solicitar la creacion de tu empresa</b-list-group-item>
      <b-list-group-item>Ingresar sucursales para tu empresa</b-list-group-item>
      <b-list-group-item>Dar roles para ventas, inventario y bodega</b-list-group-item>
      <b-list-group-item>Tener el control de los productos que tienes en stock</b-list-group-item>
      <b-list-group-item>Hacer facturaciones en tiempo real y persistir las facturas</b-list-group-item>
      <b-list-group-item>Conocer la lista de productos que estan a tu disposicion</b-list-group-item>
      <b-list-group-item>Recibir notificaciones que te permitiran saber el estado de tus productos</b-list-group-item>
    </b-list-group>
  </b-card>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>