<template>
  <b-container class="pt-5">
    <b-row class="justify-content-md-center mt-5">
      <b-col cols="12" md="8" lg="6">
        <b-card header="Inicio de sesion">
          <b-card-body>
            <b-form @submit.prevent="inicioSesion()">
              <b-form-group
                id="input-group-1"
                label="Correo"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.email"
                  type="email"
                  required
                  placeholder="Ingresa correo"
                ></b-form-input>
              </b-form-group>

              <b-form-group id="input-group-2" label="Contraseña">
                <b-form-input
                  id="input-2"
                  v-model="form.password"
                  required
                  type="password"
                  placeholder="Ingresa contraseña"
                ></b-form-input>
              </b-form-group>
              <div>
                <b-button variant="link">¿Olvidaste tu contraseña?</b-button>
              </div>

              <b-button type="submit" variant="primary">Ingresar</b-button>
            </b-form>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import  axios from 'axios'
axios.defaults.withCredentials = true
axios.defaults.baseURL = 'http://localhost:8000/'

export default {
  name: "login",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    inicioSesion() {
      axios.get('/sanctum/csrf-cookie').then(response => {
        axios.post('login',this.form)
        .then( res => {
          localStorage.setItem('isLoggedIn', true)
          this.$router.push('/inicio')
        })
        .catch( e => {
          console.log(e.response);
        })
      });
    },
  },
};
</script>

<style>
</style>