<template>
  <div class="container-fluid mt-3">
    <div class="mt-3">
      <h2>Sucursal</h2>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2">
        <b-button
          variant="outline-success"
          @click="abrirModal(1, 0, 'Agregar sucursal', [])"
        >
          Agregar sucursal
        </b-button>
      </div>
      <div class="col-12 col-sm-10">
        <form class="form-inline my-2 my-lg-0 float-right">
          <label class="my-1 mr-2" for="filtroNombre">Filtrar sucursal</label>
          <!-- TODO :: Pendiente para llenar lista de seleccion de busqueda -->
          <select class="form-control mr-5">
            <option>Seleccione</option>
            <option value="1">Nombre</option>
            <option value="2">Codigo</option>
          </select>
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Buscar sucursal..."
            aria-label="Search"
          />
        </form>
      </div>
    </div>
    <!-- Tabla con los registros de las empresas creadas -->
    <div>
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nit</th>
            <th scope="col">Nombre</th>
            <th scope="col">Encargado</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar / Inactivar o Activar</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="sucursal in sucursales" :key="sucursal.id">
            <td v-text="sucursal.nit_sucursal"></td>
            <td v-text="sucursal.nombre_sucursal"></td>
            <td v-text="sucursal.id_user"></td>
            <td v-if="sucursal.estado_sucursal == 1">
              <span class="badge badge-primary">Activo</span>
            </td>
            <td v-else><span class="badge badge-danger">Inactivo</span></td>
            <td>
              <button @click="abrirModal(1, 1, 'Editar sucursal', sucursal)">
                Editar
              </button>
              <button
                v-if="sucursal.estado_sucursal == 1"
                @click="cambiarEstado(empresa)"
              >
                Activar
              </button>
              <button v-else @click="cambiarEstado(empresa)">Inactivar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal con formulario de ingreso y edicio -->
    <div
      class="modal fade"
      :class="{ 'modal-class': modalAccion }"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ tituloModal }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="cerrarModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario agregar empresa -->
            <form>
              <div class="form-group">
                <label for="documento">Documento</label>
                <input
                  type="text"
                  class="form-control"
                  id="documento"
                  placeholder="Ingrese Nit"
                  v-model="form.nit_sucursal"
                />
              </div>
              <div class="form-group">
                <label for="nombre">Nombre </label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  placeholder="Ingrese nombre sucursal"
                  v-model="form.nombre_sucursal"
                />
              </div>
              <div class="form-group">
                <label for="administrador_sucursal"
                  >Administrador sucursal</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="administrador_sucursal"
                  placeholder="Ingrese documento de administrador"
                  v-model="form.id_user"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              @click="cerrarModal()"
            >
              Cerrar
            </button>

            <button
              v-if="accionBotonModal == 0"
              @click="registrarEmpresa()"
              type="button"
              class="btn btn-primary"
            >
              Registrar
            </button>
            <button
              v-else
              type="button"
              @click="editarEmpresa()"
              class="btn btn-primary"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "sucursales",
  data() {
    return {
      sucursales: [],
      modalAccion: 0,
      tituloModal: "",
      accionBotonModal: 0,
      form: {
        nit_sucursal: "",
        nombre_sucursal: "",
        id_user: "",
        estado_sucursal: "",
      },
    };
  },
  methods: {
    registrarEmpresa() {
        alert("Registra la sucursal")
    },
    editarEmpresa(){
        alert("Edita la empresa")
    },
    abrirModal(accion, accionBotonModal, titulo, data) {
      switch (accionBotonModal) {
        //Accion para registrar
        case 0:
          this.modalAccion = 1;
          this.tituloModal = titulo;
          this.accionBotonModal = accionBotonModal;

          break;
        //Accion para editar
        case 1:
          this.modalAccion = 1;
          this.tituloModal = titulo;
          this.accionBotonModal = accionBotonModal;
          this.form.nit_sucursal = data.nit_sucursal;
          this.form.nombre_sucursal = data.nombre_sucursal;
          this.form.id_user = data.id_user;
          this.form.estado_sucursal = data.estado_sucursal;
          break;
      }
    },
    cerrarModal() {
      this.modalAccion = 0;
      this.tituloModal = "";
      this.accionBotonModal = 0;

      this.form.nit_sucursal = "";
      this.form.nombre_sucursal = "";
      this.form.id_user = "";
      this.form.estado_sucursal = "";
    },
  },
};
</script>

<style>
.modal-class {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  opacity: 1 !important;
  display: list-item !important;
}
.modal-content {
  padding: 10px 20px;
  margin: 10% auto;
  position: relative;
}
</style>
