<template>
  <div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <!---cabecera vista--->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand">Productos</a>
          <form class="form-inline">
            <b-button
              variant="outline-success"
              @click="abrirModal(1, [])"
              class="mr-3"
            >
              <b-icon icon="file-earmark-medical"></b-icon> Registrar
            </b-button>
            <select class="custom-select" v-model="criterio">
              <option selected value="nombre_producto">Nombre</option>
              <option value="descripcion_producto">Descripcion</option>
              <option value="codigo_producto">Codigo</option>
            </select>
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Buscar producto..."
              aria-label="Search"
              v-model="busqueda"
              @keyup="buscarProducto()"
            />
          </form>
        </nav>
        <!---table de registros--->
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">C°</th>
              <th scope="col">Nombre Producto</th>
              <th scope="col">Descripcion Producto</th>
              <th scope="col">Precio Venta</th>
              <th scope="col">Precio Compra</th>
              <th scope="col">Iva 19%</th>
              <th scope="col">Stock</th>
              <th scope="col">Estado</th>
              <th scope="col">Editar</th>
              <th scope="col">Cambiar Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="producto in listaProductos" :key="producto">
              <td v-text="producto.codigo_producto"></td>
              <td v-text="producto.nombre_producto"></td>
              <td v-text="producto.descripcion_producto"></td>
              <td v-text="producto.precio_venta"></td>
              <td v-text="producto.precio_compra"></td>
              <td v-text="producto.IVA"></td>
              <td v-text="producto.stock_producto"></td>
              <td>
                <div v-if="producto.estado_producto == 1">
                  <span class="badge badge-success">Activo</span>
                </div>
                <div v-else>
                  <span class="badge badge-danger">Inactivo</span>
                </div>
              </td>
              <td>
                <b-button
                  variant="outline-warning"
                  @click="abrirModal(2, producto)"
                >
                  <b-icon icon="pencil"></b-icon>
                </b-button>
              </td>
              <td>
                <div v-if="producto.estado_producto == 1">
                  <b-button
                    variant="outline-success"
                    @click="cambiarEstado(producto.codigo_producto)"
                  >
                    <b-icon icon="cloud-check"></b-icon> Cambiar
                  </b-button>
                </div>
                <div v-else>
                  <b-button
                    variant="outline-danger"
                    @click="cambiarEstado(producto.codigo_producto)"
                  >
                    <b-icon icon="cloud-check"></b-icon> Cambiar
                  </b-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Modal--->
    <div
      class="modal fade"
      :class="{ 'modal-class': modalAccion }"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-text="tituloModal"></h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="cerrarModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Nombre producto</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="form.nombre_producto"
                />
              </div>
              <div class="form-group">
                <label>Descripcion producto</label>
                <textarea
                  class="form-control"
                  cols="1"
                  v-model="form.descripcion_producto"
                ></textarea>
              </div>
              <div class="form-group">
                <label>Cantidad producto</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="form.stock_producto"
                />
              </div>
              <div class="form-group">
                <label>Precio compra</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="form.precio_compra"
                />
              </div>
              <div class="form-group">
                <label>Precio Venta</label>
                <input
                  type="number"
                  class="form-control"
                  v-model="form.precio_venta"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              @click="cerrarModal()"
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
            <div v-if="msjBoton == 'Registrar'">
              <button
                type="button"
                class="btn btn-success"
                v-text="msjBoton"
                @click="registrarProducto()"
              ></button>
            </div>
            <div v-else>
              <button
                type="button"
                class="btn btn-primary"
                v-text="msjBoton"
                @click="actualizarProducto()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

axios.defaults.withCredentials = true;
axios.defaults.baseURL = "http://localhost:8000/";

export default {
  data() {
    return {
      usuarioLogeado: [],
      listaProductos: [],
      modalAccion: 0,
      tituloModal: "",
      msjBoton: "",
      criterio: "nombre_producto",
      busqueda: "",
      form: {
        codigo_producto: 0,
        nombre_producto: "",
        descripcion_producto: "",
        stock_producto: 0,
        precio_compra: 0,
        precio_venta: 0,
        IVA: 0,
        estado_producto: 0,
        sucursal_producto: 10,
        empresa_producto: 12,
      },
    };
  },
  methods: {
    abrirModal(accion, data = []) {
      switch (accion) {
        case 1:
          this.modalAccion = 1;
          this.tituloModal = "Registrar producto";
          this.msjBoton = "Registrar";
          break;
        case 2:
          this.modalAccion = 1;
          this.tituloModal = "Actualizar producto";
          this.msjBoton = "Actualizar";
          this.form.codigo_producto = data.codigo_producto;
          this.form.nombre_producto = data.nombre_producto;
          this.form.descripcion_producto = data.descripcion_producto;
          this.form.stock_producto = data.stock_producto;
          this.form.precio_compra = data.precio_compra;
          this.form.precio_venta = data.precio_venta;
          this.form.estado_producto = data.estado_producto;
          this.form.sucursal_producto = data.sucursal_producto;
          break;
      }
    },
    cerrarModal() {
      this.modalAccion = 0;
      this.tituloModal = "";
      this.msjBoton = "";
      this.form.codigo_producto = 0;
      this.form.nombre_producto = "";
      this.form.descripcion_producto = "";
      this.form.stock_producto = 0;
      this.form.precio_compra = 0;
      this.form.precio_venta = 0;
      this.form.estado_producto = 0;
    },
    buscarProducto() {
      if (this.busqueda.length >= 3) {
        axios
          .get(
            "productos/" +
              this.criterio +
              "/" +
              this.busqueda
          )
          .then((response) => {
            this.listaProductos = response.data;
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
        this.listarProductos();
      }
    },
    registrarProducto() {
      axios
        .post("productos", this.form)
        .then((response) => {
          this.listarProductos();
          this.cerrarModal();
          Swal.fire("Exito!", "Producto registrado.", "success");
        });
    },
    actualizarProducto() {
      axios
        .put(
          "productos/" + this.form.codigo_producto,
          this.form
        )
        .then((response) => {
          this.listarProductos();
          this.cerrarModal();
          Swal.fire("Exito!", "Producto actualizado.", "success");
        })
        .catch((e) => {
          console.log(e);
        });
    },
    cambiarEstado(estado) {
      Swal.fire({
        title: "Estas seguro?",
        text: "Cambair el estado del Producto!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Si!",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          axios
            .delete("productos/" + estado)
            .then((response) => {
              this.listarProductos();
            });
          Swal.fire(
            "Exito!",
            "Cambio del estado del producto realizado.",
            "success"
          );
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          Swal.fire("Cancelado", "error");
        }
      });
    },
    listarProductos() {
      axios
        .get("productos")
        .then((response) => {
          this.listaProductos = response.data;
        })
        .catch((e) => {
          console.log("Lo sentimos ha ocurrido un error: " + e);
        });
    },
    logeado() {
      axios.get("home").then((res) => {
        this.usuarioLogeado = res.data.user_id;
      });
    },
    obtenerSucursal(){
      //console.log('revisemos a ver'+this.usuarioLogeado);
      var id = this.usuarioLogeado;
      axios.get('usuario/sucursal/'+id)
      .then(res=>{
        console.log('miremos')
        console.log(res.data)
      })
    }
  },

  mounted() {
    this.logeado();
    this.listarProductos();
  this.obtenerSucursal();
},
};
</script>
<style>
.modal-class {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  opacity: 1 !important;
  display: list-item !important;
}
.modal-content {
  padding: 10px 20px;
  margin: 10% auto;
  position: relative;
}
</style>