<template>
  <div>
    <div class="container-fluid">
      <!---cabecera vista--->
      <div class="pl-5">
        <h2>Ingresos</h2>
      </div>
      <!--- herramientas principales de facturas-->
      <div class="row">
        <div class="col-12 col-sm-9">
          <form class="form-inline my-2">
            <label class="my-1 ml-4 mr-1" for="filtroNombre"
              >Filtrar sucursal</label
            >
            <!-- TODO :: Pendiente para llenar lista de seleccion de busqueda -->
            <select class="form-control mr-1" v-model="parametroBuscar">
              <option value="0">Seleccione</option>
              <option value="nombre_producto">Nombre</option>
              <option value="codigo_producto">Codigo</option>
            </select>
            <input
              class="form-control mr-1"
              type="search"
              placeholder="Buscar producto..."
              aria-label="Search"
              v-model="valor_consulta"
              @keyup="consultarProducto()"
            />
          </form>
        </div>
        <div class="col-12 col-sm-3 ">
          <!--botenes depliegue de tabla productos encontrados-->
          <button class="btn btn-outline-success btn-block" @click="ocultar()">
            <b-icon icon="caret-down-square"></b-icon> Productos
          </button>
        </div>
        <!--tabla para buscar productos-->
        <div class="container mt-2" v-if="mostrarProductos == true">
          <div class="row">
            <div class="col-12">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="producto in productosConsultados" :key="producto.codigo_producto">
                    <td v-text="producto.codigo_producto"></td>
                    <td v-text="producto.nombre_producto"></td>
                    <td>
                      <input
                        type="text"
                        v-model="producto.stock_productos_i"
                        class="form-control"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        v-model="producto.observaciones_ingreso"
                        class="form-control"
                      />
                    </td>
                    <td>
                      <!--boton para agregar a la items facturas-->
                      <b-button variant="outline-success" @click="agregarProductoFactura(producto)">
                        <b-icon icon="check-square-fill"></b-icon> Agregar
                      </b-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!---factura --->
      <div class="col-12">
        <div class="factura">
          <div class="left">
            <!--detalle facturas-->
            <div class="form-group">
              <h5>C° factura</h5>
              <input type="text" class="form-control" v-model="codigo_ingreso" />
            </div>
          </div>
          <!--fin detalle facturas-->
          <div>
            <table class="table">
              <!--tabla factura-->
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col">Nombre Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Observaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="factura in facturaItems" :key="factura.codigo_producto">
                  <td hidden v-text="factura.user_id_i = '2'"></td>
                  <td v-text="factura.codigo_producto"></td>
                  <td v-text="factura.nombre_producto"></td>
                  <td v-text="factura.stock_productos_i"></td>
                  <td v-text="factura.observaciones_ingreso"></td>
                </tr>
                <tr>
                  
                </tr>
              </tbody>
            </table>
            <!---fin tabla factura-->
          </div>
          <div></div>
        </div>
        <div class="factura-footer">
          <!--boton confirmar facturacion-->
          <b-button variant="outline-success" @click="agregarFacturaIngresos()">
            <b-icon icon="cart-check-fill"></b-icon> Confirmar Factura
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
axios.defaults.withCredentials = true
axios.defaults.baseURL = 'http://localhost:8000/'

export default {
  data() {
    return {
      parametroBuscar:0,
      codigo_ingreso:'',
      tipo_consulta: 0,
      valor_consulta: "",
      cantidad: 0,
      productosConsultados: [],
      buscarItems: {},
      mostrarProductos: false,
      facturaItems : [],
    };
  },
  methods: {
    agregarFacturaIngresos(){
      
      axios.post('ingresos',this.facturaItems)
      .then( res => {
        console.log(res);
      })
      .catch( e => {
        console.log(e.response);
      })
    },
    agregarProductoFactura(producto){
      this.facturaItems.push(producto);
    },
    consultarProducto(){
      // if(this.valor_consulta.length>3){
        axios.get(`productos/${this.parametroBuscar}/${this.valor_consulta}`)
        .then( res => {
          this.productosConsultados = res.data
        })
        .catch( e => {
          console.log(e);
        })

      // }
      
    },
    ocultar() {
      this.mostrarProductos = !this.mostrarProductos;
    },
  },
};
</script>
<style scoped>
.factura {
  border: 1px solid black;
  border-radius: 10px 10px;
  box-shadow: 0 0 2px gray;
  margin-top: 10px;
  padding: 15px;
}
.factura-footer {
  padding: 25px;
  float: right;
}
.left {
  width: 500px;
  float: left;
  margin: 5px;
}
</style>