<template>
  <div>
    <div class="conyainer-fluid">
      <div class="row">
        <div class="col-12">
          <!---cabecera vista--->
          <div class="pl-5">
            <h2>Ventas</h2>
          </div>
          <!--- herramientas principales de facturas-->
        
          <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
              <select class="custom-select">
                <option value="1">Nombre</option>
                <option value="2">Codigo</option>
              </select>
            </div>
            <div class="col-4">
              <input
                type="text"
                placeholder="Buscar productos..."
                class="form-control"
              />
            </div>
            <div class="col-3"></div>
            <div class="col-2">
              <!--botenes depliegue de tabla productos encontrados-->
              <div v-if="mostrarProductos == false">
                <b-button variant="outline-success" @click="ocultar()">
                  <b-icon icon="caret-down-square"></b-icon> Productos
                </b-button>
              </div>
              <div v-else>
                <b-button variant="outline-success" @click="ocultar()">
                  <b-icon icon="caret-up-square"></b-icon> Productos
                </b-button>
              </div>
            </div>
            <!--tabla para buscar productos-->
            <div class="container">
              <div class="mt-2" v-if="mostrarProductos == true">
                <div class="col-12">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Codigo</th>
                          <th scope="col">Nombre Producto</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Precio unitario</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in buscarItems" :key="item">
                          <td v-text="item.codigo_producto"></td>
                          <td v-text="item.nombre_producto"></td>
                          <td><input type="text" v-model="cantidad" /></td>
                          <td v-text="item.precio_venta"></td>
                          <td>
                            <!--boton para agregar a la items facturas-->
                            <b-button variant="outline-success">
                              <b-icon icon="cart-check-fill"></b-icon> Agregar
                            </b-button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>
            
          </div>
          <!---factura --->
          <div class="col-12">
            <div class="factura">
              <div class="left">
                <div class="form-group">
                  <label>C° factura</label>
                  <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                  <label>Nombre cliente</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Ingrese nombre cliente..."
                  />
                </div>
              </div>
              <div class="rigth">
                <div class="form-group">
                  <label>Documento</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese numero documento..."
                  />
                </div>
                <div class="form-group">
                  <label>Telefono</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Ingrese numero telefono..."
                  />
                </div>
              </div>
              <div>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">Nombre Producto</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio unitario</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in facturasItems" :key="item">
                      <td v-text="item.codigo_producto"></td>
                      <td v-text="item.nombre_producto"></td>
                      <td v-text="item.cantidad_producto"></td>
                      <td v-text="item.precio_venta"></td>
                      <td v-text="item.subtotal"></td>
                    </tr>
                    <tr>
                      <td colspan="3" rowspan="3"></td>
                      <td><strong><h5>Subtotal</h5></strong></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><strong><h5>Total Iva</h5></strong></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><strong><h5>Total</h5></strong></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>

              </div>
            </div>
            <div class="factura-footer">
              <!--boton confirmar facturacion-->
              <b-button variant="outline-success">
                <b-icon icon="cart-check-fill"></b-icon> Confirmar Factura
              </b-button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      cantidad: 0,
      buscarItems: [
        { 'codigo_producto':'',
          'nombre_producto':'',
          'cantidad_producto':'',
          'precio_venta':'',
          'subtotal':''
        }
      ],
      mostrarProductos: false,
      facturasItems: [
        { 'codigo_producto':'',
          'nombre_producto':'',
          'precio_venta':'',
        },
        { 'codigo_producto':'',
          'nombre_producto':'',
          'cantidad_producto':'',
          'precio_venta':'',
          'subtotal':''
        },
        { 'codigo_producto':'',
          'nombre_producto':'',
          'cantidad_producto':'',
          'precio_venta':'',
          'subtotal':''
        },
        { 'codigo_producto':'',
          'nombre_producto':'',
          'cantidad_producto':'',
          'precio_venta':'',
          'subtotal':''
        },
      ],
    };
  },
  methods: {
    ocultar() {
      this.mostrarProductos = !this.mostrarProductos;
    },
  },
};
</script>
<style scoped>
.factura {
  border: 1px solid black;
  border-radius: 10px 10px;
  box-shadow: 0 0 2px gray;
  margin-top: 10px;
  padding: 15px;
}
.factura-footer{
  padding: 25px;
  float: right;
}
.left {
  width: 500px;
  float: left;
  margin: 5px;
}
.rigth {
  width: 500px;
  float: right;
  margin: 5px 20px;
}
</style>