<template>
  <div class="container-fluid">
    <!-- Componentes de agregar y filtro -->
    <div>
      <div class="mt-3">
        <h2>Administrador</h2>
      </div>
      <div class="row">
        <div class="col-12 col-sm-2">
          <b-button
            variant="outline-success"
            @click="abrirModal(1, 0, 'Agregar administrador', [])"
          >
            Agregar administrador
          </b-button>
        </div>
        <div class="col-12 col-sm-10">
          <form class="form-inline my-2 my-lg-0 float-right">
            <label class="my-1 mr-2" for="filtroNombre">Filtrar nombre</label>
            <!-- TODO :: Pendiente para llenar lista de seleccion de busqueda -->
            <select class="form-control mr-5" id="filtroNombre">
              <option>Seleccione</option>
            </select>
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Buscar producto..."
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </div>

    <!---Tabla  de administradores--->
    <table class="table mt-3">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tipo D.</th>
          <th scope="col">N° Documento</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Telefono</th>
          <th scope="col">Rol</th>
          <th scope="col">Estado</th>
          <th scope="col">Editar</th>
          <th scope="col">Cambiar Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="usuario in listaUsuarios" :key="usuario">
          <td v-text="usuario.nombre_docuemnto"></td>
          <td v-text="usuario.user_id"></td>
          <td v-text="usuario.name"></td>
          <td v-text="usuario.lastname"></td>
          <td v-text="usuario.email"></td>
          <td v-text="usuario.user_phone"></td>
          <td v-text="usuario.nombre_rol"></td>
          <td >
            <div v-if="usuario.user_state == 1">
              <span class="badge badge-primary">Activo</span>
            </div>
            <div v-else>
              <span class="badge badge-danger">Inactivo</span>
            </div>
          </td>
          <td>
            <b-button
                  variant="outline-warning"
                  @click="abrirModal(2,1,'Actualizar administrador', usuario)"
                >
                  <b-icon icon="pencil"></b-icon>
                </b-button>
          </td>
          <td>
            <button
              v-if="usuario.user_state == 1"
              @click="cambiarEstado(usuario.empresa_usuario,usuario.user_id)"
            >
              Activar
            </button>
            <button v-else @click="cambiarEstado(usuario)">Inactivar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--Modal para editar y agregar--->
    <div
      class="modal fade"
      :class="{ 'modal-class': modalAccion }"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ tituloModal }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="cerrarModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario agregar empresa -->
            <form>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <!-- Modificar a select -->
                    <label for="tipo_documento">Tipo documento</label>
                    <input
                      type="text"
                      class="form-control"
                      id="tipo_documento"
                      placeholder="Ingrese Nit"
                      v-model="form.document_type"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="documento">Numero documento </label>
                    <input
                      type="text"
                      class="form-control"
                      id="documento"
                      placeholder="Ingrese documento"
                      v-model="form.id_user"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre">Nombre </label>
                    <input
                      type="text"
                      class="form-control"
                      id="nombre"
                      placeholder="Ingrese nombre"
                      v-model="form.name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellido">Apellido </label>
                    <input
                      type="text"
                      class="form-control"
                      id="apellido"
                      placeholder="Ingrese apellido"
                      v-model="form.lastname"
                    />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="correo">Correo </label>
                    <input
                      type="email"
                      class="form-control"
                      id="correo"
                      placeholder="Ingrese correo electronico"
                      v-model="form.email"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <!-- TODO :: HAcer rol en select -->
                    <label for="rol">Rol </label>
                    <input
                      type="email"
                      class="form-control"
                      id="rol"
                      placeholder="Ingrese rol electronico"
                      v-model="form.email"
                    />
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="correo">Password </label>
                    <input
                      type="text"
                      class="form-control"
                      id="correo"
                      placeholder="Ingrese contraseña"
                      v-model="form.password"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- Cerrar modal -->
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              @click="cerrarModal()"
            >
              Cerrar
            </button>
            <!-- Agregar Administrador -->
            <button
              v-if="accionBotonModal == 0"
              @click="registrarAdministrador()"
              type="button"
              class="btn btn-primary"
            >
              Registrar
            </button>
            <!-- Editar Administrador -->
            <button
              v-else
              type="button"
              @click="editarAdministrador()"
              class="btn btn-primary"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
axios.defaults.withCredentials = true
axios.defaults.baseURL = 'http://localhost:8000/'
import Swal from 'sweetalert2'
export default {
  name: "administradores-empresa",
  data() {
    return {
      listaUsuarios: [],
      modalAccion: 0,
      tituloModal: "",
      accionBotonModal: 0,
      roles:[],
      form: {
        document_type: "",
        id_user: "",
        name: "",
        lastname: "",
        email: "",
        user_phone: "",
        user_role: "",
        user_state: "",
      },
    };
  },
  mounted(){
    this.obtenerListaUsuarios()
  },
  methods: {
    obtenerListaUsuarios(){
      axios.get('usuarios/ver/'+23)
      .then( res => {
        this.listaUsuarios = res.data;
      })
      .catch( e => {
        console.log(e);
      })
    },
    cambiarEstado(emp,id) {
      Swal.fire({
        title: "Estas seguro?",
        text: "Cambair el estado del Usuario!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Si!",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
        axios.delete('/usuarios/'+emp+'/'+id)
        .then(res=>{
          this.obtenerListaUsuarios();
          Swal.fire(
            "Exito!",
            "Cambio del estado del usuario realizado.",
            "success"
          );
        })
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          Swal.fire("Cancelado", "error");
        }
      });
    },
    editarAdministrador() {
      alert("Editar Administrador");
    },
    registrarAdministrador() {
      alert("Registrar administrador");
    },
    abrirModal(accion, accionBotonModal, titulo, data) {
      this.obtenerRoles()
      switch (accionBotonModal) {
        //Accion para registrar
        case 0:
          this.modalAccion = 1;
          this.tituloModal = titulo;
          this.accionBotonModal = accionBotonModal;

          break;
        //Accion para editar
        case 1:
          this.modalAccion = 1;
          this.tituloModal = titulo;
          this.accionBotonModal = accionBotonModal;

          this.form.id_user = data.id_user;
          this.form.document_type = data.document_type;
          this.form.name = data.name;
          this.form.lastname = data.lastname;
          this.form.email = data.email;
          this.form.user_phone = data.user_phone;
          this.form.user_role = data.user_role;
          this.form.user_state = data.user_state;

          break;
      }
    },
    cerrarModal() {
      this.modalAccion = 0;
      this.tituloModal = "";
      this.accionBotonModal = 0;
      this.form.id_user = "";
      this.form.document_type = "";
      this.form.name = "";
      this.form.lastname = "";
      this.form.email = "";
      this.form.user_phone = "";
      this.form.user_role = "";
      this.form.user_state = "";
    },
    obtenerRoles(){
      axios.get('roles')
      .then(res=>{
        this.roles = res.data;
      })
    }
  },
};
</script>

<style>
.modal-class {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  opacity: 1 !important;
  display: list-item !important;
}
.modal-content {
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  width: 600px;
}
</style>