<template>
  <div class="container-fluid mt-3">
    <div class="row">
      <!-- Columna1 -->
      <div class="col-sm-12 col-md-3">
        <!-- Seleccion filtro -->
        <div class="form-group">
          <label for="filtroEmpresa">Filtrar Empresa</label>
          <!-- TODO :: Poner el model en el select -->
          <select class="form-control" id="filtroEmpresa">
            <option>Seleccione</option>
          </select>
        </div>
        <!-- Campo de ingreso a buscar -->
        <div class="form-group">
          <label for="buscarEmpresa">Ingresa el nombre</label>
          <input
            v-model="busqueda"
            type="text"
            class="form-control"
            id="buscarEmpresa"
          />
        </div>
      </div>
      <!-- Columna2 -->
      <div class="col-sm-12 col-md-9">
        <!-- Boton para agregar empresas , abre modal -->
        <div>
          <button
            type="button"
            class="btn btn-outline-success"
            @click="abrirModal(1, 0, 'Agregar empresa', [])"
          >
            Agregar Empresa
          </button>
        </div>
        <div class="my-1">
          <h2>Empresa</h2>
        </div>
        <!-- Tabla con los registros de las empresas creadas -->
        <div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nit</th>
                <th scope="col">Nombre</th>
                <th scope="col">Encargado</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar / Inactivar o Activar</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="empresa in empresas" :key="empresa.id">
                <td v-text="empresa.nit_empresa"></td>
                <td v-text="empresa.nombre_empresa"></td>
                <td v-text="empresa.id_user"></td>
                <td v-if="empresa.estado_empresa == 1">
                  <span class="badge badge-primary">Activo</span>
                </td>
                <td v-else><span class="badge badge-danger">Inactivo</span></td>
                <td>
                  <button class="btn"  @click="abrirModal(1, 1, 'Editar empresa', empresa)">
                    <b-icon icon="pencil-square" aria-hidden="true"></b-icon>
                    
                    
                  </button>
                  <button
                    v-if="empresa.estado_empresa == 1"
                    @click="cambiarEstado(empresa)"
                    class="btn"
                  >
                  <b-icon icon="toggle2-off" aria-hidden="true"></b-icon>
                    
                  </button>
                  <button v-else @click="cambiarEstado(empresa)" class="btn">
                    <b-icon icon="toggle-off" aria-hidden="true"></b-icon>
                    
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Modal--->
      <div
        class="modal fade"
        :class="{ 'modal-class': modalAccion }"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                {{ tituloModal }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="cerrarModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Formulario agregar empresa -->
              <form>
                <div class="form-group">
                  <label for="documento">Documento</label>
                  <input
                    type="text"
                    class="form-control"
                    id="documento"
                    placeholder="Ingrese Nit"
                    v-model="form.nit_empresa"
                  />
                </div>
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    placeholder="Ingrese nombre"
                    v-model="form.nombre_empresa"
                  />
                </div>
                <div class="form-group">
                  <label for="administrador_sucursal"
                    >Administrador sucursal</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="administrador_sucursal"
                    placeholder="Ingrese documento de administrador"
                    v-model="form.id_user"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                @click="cerrarModal()"
              >
                Cerrar
              </button>

              <button
                v-if="accionBotonModal == 0"
                @click="registrarEmpresa()"
                type="button"
                class="btn btn-primary"
              >
                Registrar
              </button>
              <button
                v-else
                type="button"
                @click="editarEmpresa()"
                class="btn btn-primary"
              >
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
axios.defaults.withCredentials = true;
axios.defaults.baseURL = "http://localhost:8000/";
export default {
  name: "empresas",
  data() {
    return {
      busqueda: "",
      empresas: [],
      modalAccion: 0,
      tituloModal: "",
      accionBotonModal: 0,
      form: {
        id_empresa: "",
        nit_empresa: "",
        nombre_empresa: "",
        id_user: "",
      },
    };
  },
  mounted() {
    this.obtenerListaEmpresas();
  },
  methods: {
    registrarEmpresa() { //TODO :: El controlador aun no recibe el id del usuario, enviar alerta de exito
      axios
        .post("/empresas", this.form)
        .then((res) => {
          this.limpiarCampos();
          this.obtenerListaEmpresas();
        })
        .catch((e) => {
          console.log();
        });
    },
    editarEmpresa() {
      axios.put(`/empresas/${this.form.id_empresa}`,this.form)
      .then( res => {
        this.obtenerListaEmpresas()
        this.limpiarCampos()
        this.modalAccion = 0;
        })
      .catch( e => {
        console.log();
      })
    },
    obtenerListaEmpresas() {
      axios.get("empresas").then((res) => {
        this.empresas = res.data;
      });
    },
    editar(empresa) {
      
    },
    cambiarEstado(empresa) {
      axios.delete(`empresas/${empresa.id_empresa}`) //TODO:: Esperar modificacion en el back
      .then( res => {
        this.obtenerListaEmpresas()
      })
      .catch( e => {
        console.log();
      })
    },
    abrirModal(accion, accionBotonModal, titulo, data) {
      switch (accionBotonModal) {
        //Accion para registrar
        case 0:
          this.modalAccion = 1;
          this.tituloModal = titulo;
          this.accionBotonModal = accionBotonModal;

          break;
        //Accion para editar
        case 1:
          this.modalAccion = 1;
          this.tituloModal = titulo;
          this.accionBotonModal = accionBotonModal;
          this.form.id_empresa = data.id_empresa;
          this.form.nit_empresa = data.nit_empresa;
          this.form.nombre_empresa = data.nombre_empresa;
          this.form.id_user = data.id_user;

          break;
      }
    },
    cerrarModal() {
      this.modalAccion = 0;
      this.tituloModal = "";
      this.accionBotonModal = 0;
      this.limpiarCampos();
    },
    limpiarCampos() {
      this.form.id_empresa = "";
      this.form.nit_empresa = "";
      this.form.nombre_empresa = "";
      this.form.id_user = "";
    },
  },
};
</script>

<style>
.modal-class {
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  opacity: 1 !important;
  display: list-item !important;
}
.modal-content {
  width: 300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
</style>