<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="" to="/">SEFGI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" v-if="logeado">
        <li class="nav-item">
          <router-link
            class="nav-link"
            href="#"
            :to="{ name: 'inicio' }"
            exact=""
            >Inicio</router-link
          >
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            href="#"
            :to="{ name: 'empresas' }"
            v-if="user_rol==1 || user_rol == 2"
            >Empresas</router-link
          >
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            href="#"
            :to="{ name: 'administrador-empresa' }"
            v-if="user_rol==1 || user_rol == 2"
            >Gestion Adm. Empresa</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" href="#" :to="{ name: 'prodcutos' }" v-if="user_rol==3 || user_rol == 5 "
            >Productos</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" href="#" :to="{ name: 'ventas' }" v-if="user_rol==3 || user_rol == 4"
            >Ventas</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" href="#" :to="{ name: 'ingreso' }" v-if="user_rol==3 || user_rol == 5"
            >Ingresos</router-link
          >
        </li>
        <li class="nav-item">
          <router-link class="nav-link" href="#" :to="{ name: 'sucursales' }" v-if="user_rol==2"
            >Sucursales</router-link
          >
        </li>
        <li class="nav-item">
          <router-link
            class="nav-link"
            href="#"
            :to="{ name: 'administrador-sucursal' }" v-if="user_rol==2"
            >Gestion Adm. Sucursales</router-link
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" v-if="logeado">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            @click="cerrarSesion()"
            >Cerra Sesion <b-icon icon="door-closed-fill" aria-hidden="true"></b-icon> </a
          >
        </li>
      </ul>
      <ul class="navbar-nav" v-if="logeado == null">
        <li class="nav-item">
          <router-link class="nav-link" href="#" to="/">
            Inicio Sesion</router-link>
          
        </li>
      </ul>
    </div>
    <div>
    </div>
  </nav>
</template>

<script>
import axios from 'axios'
axios.defaults.withCredentials = true
axios.defaults.baseURL = 'http://localhost:8000/'

export default {
  name: "navegacion",
  data() {
    return {

    };
  },
  props: ["logeado","user_rol"],
  methods: {
    cerrarSesion(){
      axios.post('logout')
      .then( res => {
        localStorage.removeItem('isLoggedIn')
      })
      .catch( e => {
        console.log();
      })
    },
    verificarRoles(){
      alert("verificar roles")
    }
  },
};
</script>
