<template>
  <div id="app">
    <navegacion :logeado="logeado" :user_rol="user_rol"></navegacion>
    <router-view />
  </div>
</template>

<script>
import axios from 'axios'
axios.defaults.withCredentials = true
axios.defaults.baseURL = 'http://localhost:8000/'

import Navegacion from "@/components/Navegacion";
export default {
  name: "App",
  data() {
    return {
      logeado: null,
      user_rol:0
    };
  },
  components: {
    Navegacion,
  },
  mounted() {
    this.logeado = localStorage.getItem("isLoggedIn");

  },
  updated() {
    this.logeado = localStorage.getItem("isLoggedIn");
    this.obtenerUsuario();
  },
  methods: {
    obtenerUsuario() {
      if (this.logeado != null) {
        axios
          .get("home")
          .then((res) => {
            this.user_rol = res.data.user_role
          })
          .catch((e) => {
            if (isLoggedIn) {
             localStorage.removeItem('isLoggedIn')
              this.$router.push('/') 
            }
          });
      }
    },
  },
};
</script>
